<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Server-side rendering</title>
    <script src="jquery-3.1.1.min.js"></script>
    <style media="screen">
      ul#menu li {
        display:inline;
      }
      ul{
        padding-left: 0px;
      }
      li{
        margin-right: 10px;
      }
      .active{
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div id="root"></div>
    <script src="bundle.js"></script>
  </body>
</html>
